<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ol/ol.css" type="text/css">
    <style>
      .map {
        height: 500px;
        width: 500px;
      }
    </style>
    <script src="ol/ol.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Oxyfi Trains</title>
  </head>
  <body>
    <h2>Karta</h2>
    <button onclick="follow = false;">stop</button>
    <div id="mapapp">
        <div v-if="slectedtrain !== ''">
          <div>Tåg id: {{ slectedtrain }}</div>
          <div>På sträckan: {{ trainlist[slectedtrain].bandel }} bandel {{ trainlist[slectedtrain].PlatsForb }}</div>
          <div>Hastighet: {{ trainlist[slectedtrain].speed }} km/h av max: {{ trainlist[slectedtrain].maxspeed }}</div>
          <div v-for="number in trainlist[slectedtrain].trainid">Tågnummer: <a v-bind:href="'https://1409.se/position?tagNr='+number.split('.')[0]" target="iframename">{{ number.split('.')[0] }}</a> </div>
        </div>
        <table style="float:right;">
            <tr v-for="trainid in sortedlist" v-on:click="slectedtrain = trainid" v-bind:style="{color:selected(trainid)}">
                <td>{{ trainid }}</td>
                <td>{{ trainlist[trainid].speed }} km/h</td>
                <td>{{ trainlist[trainid].trainid }}</td>
            </tr>
        </table>
    </div>
    <div id="map" class="map"></div>
    <iframe src="about:blank" name="iframename" style="width: 500px;height: 800px;"></iframe>
    <script>

    function readgprmc(cvsline){

        // Split buy comma
        data = cvsline.split(",");

        // Calculate speed
        speed = Math.round(parseFloat(data[7])*185.2)/100.0;

        // Change degmin to decimal degrees
        deglat = parseFloat(data[3].substring(0, 2));
        minlat = parseFloat(data[3].substring(2));
        deglat = deglat + (minlat / 60);

        deglon = parseFloat(data[5].substring(0, 3));
        minlon = parseFloat(data[5].substring(3));
        deglon = deglon + (minlon / 60);

        // Get Train ids
        trainids = data[16].split(';');
        if (trainids[0] == ""){
            trainids = [];
        }

        // Get direction if not set return false
        direction = false;
        if (data[8] !== ''){
            direction  = parseFloat(data[8]);
        }
        
        // Return data to user
        return {
            "time":data[1],
            "date":data[9],
            "direction":direction,
            "position":[deglon,deglat],
            "speed":speed,
            "vehicle":data[14],
            "trainids":trainids
            };
    }
      var jvgLineStyle = new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'blue',
            width: 5
            })
        });
      var url="tiles/{z}/{x}/{y}.png";
      var follow = '';
      var position = {};
      var poslayer = new ol.source.Vector({});
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
            //source: new ol.source.OSM({url : url})
          }),
          new ol.layer.Vector({
          source: poslayer
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([16.2, 62.3]),
          zoom: 4,
          minZoom: 4,
          maxZoom: 17
        })
      });
      
var style = new ol.style.Style({
    image: new ol.style.Circle({
        fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.7)'
        }),
        stroke: new ol.style.Stroke({
            width: 1,
            color: 'rgba(255, 150, 0, 1)'
        }),
        radius: 7
    })
});

function setMapCenter(train){
        mapapp.slectedtrain = train;
        map.getView().setCenter(ol.proj.transform(mapapp.trainlist[train]['pos'], 'EPSG:4326', 'EPSG:3857'));
    }

function getLimit(pos, trainid){
    var xhr = new XMLHttpRequest();
    var query = {"geometry": {"$near": {"$geometry": {"type":"Point", "coordinates": pos}, "$maxDistance": 100}}};
    var fields = {"properties.PlatsForb":1, "properties.STH_ABS": 1,"geometry.coordinates":1,"properties.Bandelnamn":1};
    xhr.open('GET', 'https://www.yathra.se/api/map/jvg?where='+JSON.stringify(query)+"&projection="+JSON.stringify(fields));
    var localtrainid = trainid;
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var rdata = JSON.parse(this.responseText)
        var coords = rdata._items[0].geometry.coordinates;
        var lineString = new ol.geom.LineString(coords);
        lineString.transform('EPSG:4326', 'EPSG:3857');
        // create the feature
        if(!window.addedfeature){
            window.lineFeature = new ol.Feature({
              geometry: lineString,
              name: 'Line',
              style: [jvgLineStyle]
            });
            poslayer.addFeature(window.lineFeature);
            window.addedfeature = 1;
        }
        window.lineFeature.setGeometry(lineString);
        window.lineFeature.setStyle(jvgLineStyle);
        stops = rdata._items[0].properties.PlatsForb.split('-');
        if(stops.length > 1){
            getDepartures(stops[0],stops[1], trainid);
        } else {
            getDepartures(stops[0],undefined, trainid);
        }
        mapapp.trainlist[localtrainid].bandel = rdata._items[0].properties.Bandelnamn;
        mapapp.trainlist[localtrainid].maxspeed = rdata._items[0].properties.STH_ABS;
        mapapp.trainlist[localtrainid].PlatsForb = rdata._items[0].properties.PlatsForb;
    }
    };
    xhr.send();
}

function getPosition(pos){
    pos = geodetic_to_grid(pos[1], pos[0]);
    pos = pos[1]+" "+ pos[0];
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://api.trafikinfo.trafikverket.se/v1.1/data.json');
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       stopid = JSON.parse(this.responseText).RESPONSE.RESULT[0].TrainStation[0].LocationSignature;
       //getDepartures(stopid);
    }
    };
    xhr.setRequestHeader('Content-Type', 'text/xml');
    xhr.send('<REQUEST><LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" /><QUERY objecttype="TrainStation"><FILTER><WITHIN name="Geometry.SWEREF99TM" shape="center" value="'+pos+'" radius="1000" /></FILTER></QUERY></REQUEST>');
    }

function getLocationForTrain(tid){
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://api.trafikinfo.trafikverket.se/v1.3/data.json');
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       console.log(JSON.parse(this.responseText));
    }
    };
    xhr.setRequestHeader('Content-Type', 'text/xml');
    xhr.send('<REQUEST><LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" /><QUERY objecttype="TrainAnnouncement" orderby="AdvertisedTimeAtLocation"><FILTER><EQ name="TechnicalTrainIdent" value="7077" /></FILTER></QUERY></REQUEST>');
    }
    
function getDepartures(stopa, stopb, trainid){
    if (stopb == undefined){
        stopb = stopa;
    }
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://api.trafikinfo.trafikverket.se/v1.3/data.json');
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       trains = JSON.parse(this.responseText).RESPONSE.RESULT[0].TrainAnnouncement;
       tids = "";
       match = {};
       for(var i = 0; i < trains.length; i++){
         tids += trains[i].AdvertisedTrainIdent + " " + trains[i].InformationOwner + "<br>";
         if (mapapp.trainlist[trainid].trainid.indexOf(trains[i].AdvertisedTrainIdent) == -1){
            mapapp.trainlist[trainid].trainid.push(trains[i].AdvertisedTrainIdent);
         }
       }
    }
    };
    xhr.setRequestHeader('Content-Type', 'text/xml');
    xhr.send(unescape(document.getElementById('getTrain').value).replace("{{fromstop}}",stopa).replace("{{tostop}}",stopb));
}

var mapapp = new Vue({
  el: '#mapapp',
  data: {
    trainlist: {},
    slectedtrain: ""
  },
  created: function (){
    this.socket = new WebSocket('wss://map.thure.org/oxyfigps/');
    this.socket.onmessage = this.newPosData;
  },
  computed: {
    sortedlist: function(){
      return Object.keys(this.trainlist).sort();
    }
  },
  methods: {
    selected: function (trainid){
        if (trainid == this.slectedtrain){
          return "red";
        }
        return "#000000";
    },
    newPosData: function (data){
    data = readgprmc(data.data);

    var point = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.transform(data["position"], 'EPSG:4326', 'EPSG:3857')),
        name: data['vehicle']
    });
    
    point.setStyle(style);
    
    if(position[data['vehicle']] == undefined){
        position[data['vehicle']] = point;
        poslayer.addFeature(position[data["vehicle"]]);
    }
    
    position[data['vehicle']].setGeometry(new ol.geom.Point(ol.proj.transform(data["position"], 'EPSG:4326', 'EPSG:3857')));
    
    if(mapapp.slectedtrain == data['vehicle']){
        map.getView().setCenter(ol.proj.transform(data["position"], 'EPSG:4326', 'EPSG:3857'));
        getLimit(data["position"], data['vehicle']);
    }

    if( this.trainlist[data['vehicle']] == undefined){
        this.$set(this.trainlist, data['vehicle'], {})
        this.$set(this.trainlist[data['vehicle']], "pos", data["position"])
        this.$set(this.trainlist[data['vehicle']], "speed", speed)
        this.$set(this.trainlist[data['vehicle']], "trainid", data["trainids"])
        this.$set(this.trainlist[data['vehicle']], "bandel","")
        this.$set(this.trainlist[data['vehicle']], "maxspeed","")
        this.$set(this.trainlist[data['vehicle']], "PlatsForb","")
    }
    this.trainlist[data['vehicle']]["pos"] = data["position"];
    this.trainlist[data['vehicle']]["speed"] = speed;
    }
  }
})



    </script>
    <textarea style="display:none" id="getTrain">
        <REQUEST>
            <LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" />
            <QUERY objecttype="TrainAnnouncement" orderby="AdvertisedTimeAtLocation">
                <FILTER>
                    <OR>
                    <AND>
                        <EQ name="ActivityType" value="Avgang" />
                        <EQ name="LocationSignature" value="{{fromstop}}" />
                        <GT name="TimeAtLocation" value="$dateadd(-00:15:00)" />
                        <LT name="TimeAtLocation" value="$dateadd(00:15:00)" />
                    </AND>
                    <AND>
                        <EQ name="ActivityType" value="Avgang" />
                        <EQ name="LocationSignature" value="{{tostop}}" />
                        <GT name="TimeAtLocation" value="$dateadd(-00:15:00)" />
                        <LT name="TimeAtLocation" value="$dateadd(00:15:00)" />
                    </AND>
                    </OR>
                </FILTER>
            </QUERY>
        </REQUEST>
    </textarea>
  </body>
</html>
