<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ol/ol.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      .map {
        height: 580px;
      }
    </style>
    <script src="ol/ol.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Oxyfi Trains</title>
  </head>
  <body>
    <div class="container">
      <div class="row"> 
        <div class="col-12"><h2 class="text-center">Tågkarta</h2></div>
      </div>
      <div class="row" id="mapapp">
        <div class="col-md-6">
          <div v-if="slectedtrain !== ''">
            <div>Tåg id: {{ slectedtrain }}</div>
            <div>På sträckan: {{ trainlist[slectedtrain].bandel }} bandel {{ trainlist[slectedtrain].PlatsForb }}</div>
            <div>Hastighet: {{ trainlist[slectedtrain].speed }} /  km/h av max: {{ trainlist[slectedtrain].maxspeed }}</div>
            <div v-for="number in trainlist[slectedtrain].trainid">Tågnummer: <a v-bind:href="'https://1409.se/position?tagNr='+number.split('.')[0]" target="iframename">{{ number.split('.')[0] }}</a> </div>
          </div>
          <div id="map" class="map"></div>
          <iframe src="about:blank" name="iframename" style="width: 100%; height: 100%; border:0px"></iframe>
        </div>
        <div class="col-md-6">
          <table class="table table-striped table-sm">
            <tr>
              <th>
                Fordon
              </th>
              <th>
                Hastighet
              </th>
              <th>
                Tågnummer
              </th>
            </tr>
            <tr v-for="trainid in sortedlist" v-bind:class="{'table-primary':selected(trainid)}">
                <td><button v-on:click="slectedtrain = trainid" class="btn btn-light">{{ traintypes[trainid.split('.')[0]] }} {{ trainid.split('.')[0] }}</button></td>
                <td>{{ trainlist[trainid].speed }} / {{ speeds[traintypes[trainid.split('.')[0]]] }} km/h</td>
                <td><span v-for="id in trainlist[trainid].trainid">{{ id.split('.')[0] }} </span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script>
    
    function readgprmc(cvsline){
        // Split buy comma
        data = cvsline.split(",");
        // Calculate speed
        speed = Math.round(parseFloat(data[7])*185.2)/100.0;
        // Change degmin to decimal degrees
        deglat = parseFloat(data[3].substring(0, 2));
        minlat = parseFloat(data[3].substring(2));
        deglat = deglat + (minlat / 60);
        deglon = parseFloat(data[5].substring(0, 3));
        minlon = parseFloat(data[5].substring(3));
        deglon = deglon + (minlon / 60);
        // Get Train ids
        trainids = data[16].split(';');
        if (trainids[0] == ""){
            trainids = [];
        }
        // Get direction if not set return false
        direction = false;
        if (data[8] !== ''){
            direction  = parseFloat(data[8]);
        }
        // Return data to user
        return {
            "time":data[1],
            "date":data[9],
            "direction":direction,
            "position":[deglon,deglat],
            "speed":speed,
            "vehicle":data[14],
            "trainids":trainids
            };
    }
      var jvgLineStyle = new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'blue',
            width: 5
            })
        });
      var url="tiles/{z}/{x}/{y}.png";
      var follow = '';
      var position = {};
      var poslayer = new ol.source.Vector({});

      
var style = new ol.style.Style({
    image: new ol.style.Circle({
        fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.7)'
        }),
        stroke: new ol.style.Stroke({
            width: 1,
            color: 'rgba(255, 150, 0, 1)'
        }),
        radius: 7
    })
});

function setMapCenter(train){
        mapapp.slectedtrain = train;
        map.getView().setCenter(ol.proj.transform(mapapp.trainlist[train]['pos'], 'EPSG:4326', 'EPSG:3857'));
    }

function getLimit(pos, trainid){
    var xhr = new XMLHttpRequest();
    var query = {"geometry": {"$near": {"$geometry": {"type":"Point", "coordinates": pos}, "$maxDistance": 100}}};
    var fields = {"properties.PlatsForb":1, "properties.STH_ABS": 1,"geometry.coordinates":1,"properties.Bandelnamn":1};
    xhr.open('GET', 'https://www.yathra.se/api/map/jvg?where='+JSON.stringify(query)+"&projection="+JSON.stringify(fields));
    var localtrainid = trainid;
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var rdata = JSON.parse(this.responseText)
        var coords = rdata._items[0].geometry.coordinates;
        var lineString = new ol.geom.LineString(coords);
        lineString.transform('EPSG:4326', 'EPSG:3857');
        // create the feature
        if(!window.addedfeature){
            window.lineFeature = new ol.Feature({
              geometry: lineString,
              name: 'Line',
              style: [jvgLineStyle]
            });
            poslayer.addFeature(window.lineFeature);
            window.addedfeature = 1;
        }
        window.lineFeature.setGeometry(lineString);
        window.lineFeature.setStyle(jvgLineStyle);
        stops = rdata._items[0].properties.PlatsForb.split('-');
        if(stops.length > 1){
            getDepartures(stops[0],stops[1], trainid);
        } else {
            getDepartures(stops[0],undefined, trainid);
        }
        mapapp.trainlist[localtrainid].bandel = rdata._items[0].properties.Bandelnamn;
        mapapp.trainlist[localtrainid].maxspeed = rdata._items[0].properties.STH_ABS;
        mapapp.trainlist[localtrainid].PlatsForb = rdata._items[0].properties.PlatsForb;
    }
    };
    xhr.send();
}

function getPosition(pos){
    pos = geodetic_to_grid(pos[1], pos[0]);
    pos = pos[1]+" "+ pos[0];
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://api.trafikinfo.trafikverket.se/v1.1/data.json');
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       stopid = JSON.parse(this.responseText).RESPONSE.RESULT[0].TrainStation[0].LocationSignature;
       //getDepartures(stopid);
    }
    };
    xhr.setRequestHeader('Content-Type', 'text/xml');
    xhr.send('<REQUEST><LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" /><QUERY objecttype="TrainStation"><FILTER><WITHIN name="Geometry.SWEREF99TM" shape="center" value="'+pos+'" radius="1000" /></FILTER></QUERY></REQUEST>');
    }

function getLocationForTrain(tid){
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://api.trafikinfo.trafikverket.se/v1.3/data.json');
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       console.log(JSON.parse(this.responseText));
    }
    };
    xhr.setRequestHeader('Content-Type', 'text/xml');
    xhr.send('<REQUEST><LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" /><QUERY objecttype="TrainAnnouncement" orderby="AdvertisedTimeAtLocation"><FILTER><EQ name="TechnicalTrainIdent" value="7077" /></FILTER></QUERY></REQUEST>');
    }
    
function getDepartures(stopa, stopb, trainid){
    if (stopb == undefined){
        stopb = stopa;
    }
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://api.trafikinfo.trafikverket.se/v1.3/data.json');
    xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       trains = JSON.parse(this.responseText).RESPONSE.RESULT[0].TrainAnnouncement;
       tids = "";
       match = {};
       for(var i = 0; i < trains.length; i++){
         if(match[trains[i].AdvertisedTrainIdent] == undefined){
         match[trains[i].AdvertisedTrainIdent] = 1;
         } else {
         match[trains[i].AdvertisedTrainIdent] += 1;
         }
       }
       console.log(match);
       for(var i = 0; i < trains.length; i++){
         if (mapapp.trainlist[trainid].trainid.indexOf(trains[i].AdvertisedTrainIdent+".public.trains.se@"+new Date().toISOString().substring(0,10)) == -1 && match[trains[i].AdvertisedTrainIdent] == 1){
            mapapp.trainlist[trainid].trainid.push(trains[i].AdvertisedTrainIdent+".public.trains.se@"+new Date().toISOString().substring(0,10));
         }
       }
    }
    };
    xhr.setRequestHeader('Content-Type', 'text/xml');
    xhr.send(unescape(document.getElementById('getTrain').value).replace("{{fromstop}}",stopa).replace("{{tostop}}",stopb));
}

var mapapp = new Vue({
  el: '#mapapp',
  data: {
    trainlist: {},
    slectedtrain: "",
    traintypes: {
        "1414":"Y31",
        "1415":"Y31",
        "1416":"Y31",
        "1420":"Y31",
        "1421":"Y31",
        "1429":"Y31",
        "3112":"X11",
        "3167":"X11",
        "3189":"X11",
        "62001":"X62",
        "62002":"X62",
        "62004":"X62",
        "62005":"X62",
        "62006":"X62",
        "62007":"X62",
        "62008":"X62",
        "62010":"X62",
        "62011":"X62",
        "62012":"X62",
        "9005":"X54",
        "9006":"X54",
        "9008":"X51",
        "9009":"X51",
        "9011":"X51",
        "9012":"X51",
        "9014":"X51",
        "9018":"X51",
        "9019":"X51",
        "9020":"X51",
        "9021":"X51",
        "9023":"X51",
        "9024":"X51",
        "9025":"X51",
        "9034":"X52",
        "9037":"X52",
        "9039":"X52",
        "9042":"X52",
        "9049":"X53",
        "9056":"X54",
        "9057":"X54",
        "9067":"X52",
        "9068":"X54",
        "9081":"X52E-3",
        "9082":"X52E-3",
        "9083":"X52E-3"
    },
    speeds:{
      "X50": 200,
      "X51": 180,
      "X52": 200,
      "X52E-3": 200,
      "X53": 180,
      "X53": 180,
      "X54": 200,
      "X11": 140,
      "Y31": 140,
      "X62": 180,
    }
  },
  created: function (){
    this.socket = new WebSocket('wss://map.thure.org/oxyfigps/');
    this.socket.onmessage = this.newPosData;
  },
  computed: {
    sortedlist: function(){
      return Object.keys(this.trainlist).sort();
    }
  },
  methods: {
    selected: function (trainid){
        if (trainid == this.slectedtrain){
          return true;
        }
        return false;
    },
    newPosData: function (data){
    data = readgprmc(data.data);

    var point = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.transform(data["position"], 'EPSG:4326', 'EPSG:3857')),
        name: data['vehicle']
    });
    
    point.setStyle(style);
    
    
    if(position[data['vehicle']] == undefined){
        position[data['vehicle']] = point;
        poslayer.addFeature(position[data["vehicle"]]);
    }
    
    position[data['vehicle']].setGeometry(new ol.geom.Point(ol.proj.transform(data["position"], 'EPSG:4326', 'EPSG:3857')));
    
    if(mapapp.slectedtrain == data['vehicle']){
        map.getView().setCenter(ol.proj.transform(data["position"], 'EPSG:4326', 'EPSG:3857'));
        getLimit(data["position"], data['vehicle']);
    }

    if( this.trainlist[data['vehicle']] == undefined){
        this.$set(this.trainlist, data['vehicle'], {})
        this.$set(this.trainlist[data['vehicle']], "pos", data["position"])
        this.$set(this.trainlist[data['vehicle']], "speed", speed)
        this.$set(this.trainlist[data['vehicle']], "trainid", data["trainids"])
        this.$set(this.trainlist[data['vehicle']], "bandel","")
        this.$set(this.trainlist[data['vehicle']], "maxspeed","")
        this.$set(this.trainlist[data['vehicle']], "PlatsForb","")
    }
    this.trainlist[data['vehicle']]["pos"] = data["position"];
    this.trainlist[data['vehicle']]["speed"] = speed;
    }
  }
})

      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
            //source: new ol.source.OSM({url : url})
          }),
          new ol.layer.Vector({
          source: poslayer
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([16.2, 62.3]),
          zoom: 4,
          minZoom: 4,
          maxZoom: 17
        })
      });
      
map.on('singleclick', function(evt) {
    var feature = map.forEachFeatureAtPixel(evt.pixel, function(feature, layer) {
        mapapp.slectedtrain = feature.U.name;
        });
});

    </script>
    <textarea style="display:none" id="getTrain">
        <REQUEST>
            <LOGIN authenticationkey="bd08e0c825154775a9c860ee8e08ed05" />
            <QUERY objecttype="TrainAnnouncement" orderby="AdvertisedTimeAtLocation">
                <FILTER>
                    <OR>
                    <AND>
                        <EQ name="ActivityType" value="Avgang" />
                        <EQ name="LocationSignature" value="{{fromstop}}" />
                        <GT name="TimeAtLocation" value="$dateadd(-00:15:00)" />
                        <LT name="TimeAtLocation" value="$dateadd(00:15:00)" />
                    </AND>
                    <AND>
                        <EQ name="ActivityType" value="Avgang" />
                        <EQ name="LocationSignature" value="{{tostop}}" />
                        <GT name="TimeAtLocation" value="$dateadd(-00:15:00)" />
                        <LT name="TimeAtLocation" value="$dateadd(00:15:00)" />
                    </AND>
                    </OR>
                </FILTER>
            </QUERY>
        </REQUEST>
    </textarea>
    </div>
  </body>
</html>
